footer {
		padding-top:150px;
		bottom:0;
		left:0;
		right:0;
		display:block;
		text-align: center;
	}
	.header {
		display:block;
		position:fixed;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
	}
	a {
		text-decoration: none;
		font-weight: lighter;
}
	a:link {
	}
		color: blue;
	a:visited {
		color: red;
	}
	a:hover {
		font-weight: bold;
	}
	a:active {
		font-weight: bolder;
}